/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Oswald:b');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {margin: 0; padding: 0;}

html,body {
	font-family: "Oswald", sans-serif;
	height: 100%;
	background: url('../images/ss.png') no-repeat center center fixed;
}


img {
	max-width: 80%;
	height: auto;
	margin:0 auto;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;

}

a {
  font-size:1.8vw;
}

#header img:hover{
	cursor:pointer;
	
}

#header{
  width: 80%;
  height: auto;
  margin-left:17%;
}

/*form styles*/
#regform {
	width: 80%;
	margin-left:17%;
	margin-top:10px;
	margin-right:auto;
	text-align: center;
	position: absolute;
}

@media(max-width:768px){
#regform {
	width: 90%;
	margin-left:7%;
	margin-top:2px;
	text-align: center;
	position: absolute;
}	


#bolt{
	padding-top: 0px;
}

img {
	max-width: 100vw;
	height: auto;
	margin:0 auto;
	margin-left:-10vw;
}

#header{
	margin-left:10%;
}

}


#regform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin:0 auto;

	/*stacking fieldsets above each other*/
	position: absolute;
}
@media(max-width:768px){
	
#regform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 96%;
	margin:0 auto;
	position: absolute;
}
}


/*Hide all except first fieldset*/
#regform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#regform input, #regform textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#regform .action-button {
	width: 80px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#regform .action-button:hover, #regform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-family: "Oswald";
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-family: "Oswald";
	font-weight: normal;
	font-size: 25px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 20px;
	padding-left: 5vw;
	overflow:hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.ol_content{
	text-align: left;
	font-style: normal;
	font-size: 15px;
	font-family: "Raleway" ;
	padding: 10px 0 10px 15px;
}


