@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Oswald:b');

*{
  margin:0;
  padding:0;
}
body{
 font-family:"Raleway",sans-serif;
}

body::-webkit-scrollbar {
    width: 0.51em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ffc800;
  outline: 1px solid slategrey;
}
.registerButton{

	margin-top:50px;
	display:block;
	margin: 0 auto;
	height:45px;
	width:auto;
	padding:10px;
	z-index:50000;
	font-size:20px;
	border:1px white solid;
	border-radius:5px;
	color:white;
	text-align:center;
	font-weight:700;
	padding-top:8px;
	background:rgba(0,0,0,0.15);
	text-decoration:none;
	transition:0.14s linear;
	

}

.registerButton:hover{
	background-color:#ffc800;
	transition:0.14s linear;
	color:black;

}



.okokok{
	text-align:left;
	font-family:'Raleway';
	font-size:16px;
	width:900px;
	max-width:100%;
	margin:auto;
}


@media(max-width:768px){
.okokok{
	text-align:left;
	font-family:'Raleway';
	font-size:14px;
	width:85%;
	margin-left:0px;
	margin:auto;
}
	
	
}





/*This is temporarily commented */

#categories{
  overflow:hidden;
  width:60vw;
  margin:0 auto;

}


@media (max-width:768px){
#categories{
  overflow:hidden;
  width:90vw;
  margin:0 auto;
}

}


#categories li{
  position:relative;
  list-style-type:none;
  width:27.85%;
  padding-bottom: 32.16%;
  float:left;
  overflow:hidden;
  visibility:hidden;
  transform: rotate(-60deg) skewY(30deg);
}



#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  transform: skewY(-30deg) rotate(60deg);

}

#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;
  transition:cubic-bezier(.22,.8,.52,1) 0.09s;

}

#categories li img:hover{
	filter:brightness(0.26);
	height:104%;
	width:auto;
	transition:cubic-bezier(.22,.8,.52,1) 0.18s;
	cursor:pointer;

}



.pla{
	font-family:Raleway; font-weight:bold; font-size:2em; text-align:center; margin-top:45px; margin-bottom:25px;
}
.pla2{
	font-family:Raleway; font-weight:bold; font-size:2.0em; text-align:center; margin-top:45px; margin-bottom:25px;
}

.map{
	width:100vw;
	size:cover;
	display:block;
}

#footer {
		text-align: center;
		padding: 4em 0 4em 0;
		background-color:#252525;
	}

.line{
	content: '';
	border-top: solid 1px white;
	width: 13em;
	display: block;
	margin: 0 auto 1em auto;
	}


/*css for the popup*/



.white-popup {
  font-size: 1.2vw;
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  margin-top:15px;

}

@media(max-width:768px){
.white-popup {
  font-size: 15px;
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  margin-top:15px;
}

.white-popup>h1{
	font-size: 30px;

	
}

}

/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* social cause */

.socialcause{
  overflow:hidden;
  width:auto;
  height:450px;
  padding-left:30vw;
  display:block;
  padding-top:50px;

}
@media (max-width:900px){
.socialcause{
  overflow:hidden;
  width:auto;
  height:450px;
  padding-left:15vw;
  display:block;
  padding-top:50px;

}	
}




.heart {
  z-index: 0;
  width: 150px;
  height: 150px;
  position: relative;
  top: 50%;
  margin-top: -140px;
  left: 50%;
  margin-left: -75px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE3M3B4IiBoZWlnaHQ9IjE1OHB4IiB2aWV3Qm94PSIwIDAgMTczIDE1OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTczIDE1OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRUY0NjU3IiBkPSJNMTU3LjMzMSwxNS41MDRjLTE5LjU1OS0xOS41NTktNTEuMjcxLTE5LjU1OS03MC44MzEsMGMtMTkuNTU5LTE5LjU1OS01MS4yNzEtMTkuNTU5LTcwLjgzMSwwDQoJYy0xOS41NTksMTkuNTU5LTE5LjU1OSw1MS4yNzEsMCw3MC44MzFsNzAuODMxLDcwLjgzbDcwLjgzMS03MC44M0MxNzYuODksNjYuNzc1LDE3Ni44OSwzNS4wNjQsMTU3LjMzMSwxNS41MDR6Ii8+DQo8L3N2Zz4=");
}

@media (max-width:768px){
.socialcause{
  overflow:hidden;
  width:auto;
  height:450px;
  padding-left:0;
  display:block;
  padding-top:50px;

}

.heart {
  z-index: 0;
  width: 150px;
  height: 150px;
  position: relative;
  top: 50%;
  margin-top: -140px;
  left: 50vw;
  margin-left: -75px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE3M3B4IiBoZWlnaHQ9IjE1OHB4IiB2aWV3Qm94PSIwIDAgMTczIDE1OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTczIDE1OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRUY0NjU3IiBkPSJNMTU3LjMzMSwxNS41MDRjLTE5LjU1OS0xOS41NTktNTEuMjcxLTE5LjU1OS03MC44MzEsMGMtMTkuNTU5LTE5LjU1OS01MS4yNzEtMTkuNTU5LTcwLjgzMSwwDQoJYy0xOS41NTksMTkuNTU5LTE5LjU1OSw1MS4yNzEsMCw3MC44MzFsNzAuODMxLDcwLjgzbDcwLjgzMS03MC44M0MxNzYuODksNjYuNzc1LDE3Ni44OSwzNS4wNjQsMTU3LjMzMSwxNS41MDR6Ii8+DQo8L3N2Zz4=");
}


}


.hometown {
  font-family:'Inconsolata', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  overflow:hidden;
  position: relative;
  z-index: 100;
  width: 600px;
  height: 512px;
  color: black;
  margin-top:-30px;

}

.soon {
  font-family:'Raleway', sans-serif;
  font-weight:300;
    font-style: italic;
    text-align:center; margin-top:45px; margin-bottom:25px;
}


#top {
  width: 200px;
  margin: auto;
  position: relative;
  margin-top:-65px;

}
#top span {
  height: 350px;
  position: absolute;
  width: 20px;
  left: 50%;
}

@media (max-width:768px){
#top {
  width: 200px;
  margin: 0;
  position: relative;
  margin-top:-65px;
  left:20vw;
  display:none;
}	
	
	
	
}
.char1 {
	transform: rotate(-36deg);
}
.char2 {
	transform: rotate(-24deg);
}
.char3 {
	transform: rotate(-12deg);
}
.char4 {
	transform: rotate(0deg);
}
.char5 {
	transform: rotate(12deg);
}
.char6 {
	transform: rotate(24deg);
}
.char7 {
	transform: rotate(36deg);
}



.cause {
  font-family:"Raleway";
  display: inline-block;
  width: 100%;
  height: 300px;
  padding-top: 45px;
  text-align: center;
  font-size: 2.5em;
  z-index: 0;
  position: absolute;
  top: 50%;
  margin-top: -165px;
}


@media(max-width:768px){
.cause {
  font-family:"Raleway";
  display: inline-block;
  width: 100vw;
  height: 300px;
  padding-top: 45px;
  text-align: center;
  font-size: 2em;
  z-index: 0;
  position: absolute;
  top: 50%;
  margin-top: -155px;
}	
}

.mybutton{
	margin-top:25px;
	display:block;
	margin: 0 auto;
	height:35px;
	width:140px;
	z-index:1;
	font-size:20px;
	border:none;
	border-radius:10px;
	color:white;
	background-color:black;
	text-align:center;
	font-weight:700;
	padding-top:4px;
}

.mybutton:hover{
    box-shadow: 4px 4px 10.5px #888888;
	cursor:pointer;

}


.heart {
  animation: HEARTBEAT 2.5s infinite;
 }
#top span {
  animation: BOUNCE 2.5s infinite;
}

@keyframes HEARTBEAT {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes BOUNCE {
  0% {
    top: 110px;
  }
  10% {
    top: 80px;
  }
  15% {
    top: 85px;
  }
  20% {
    top: 70px;
  }
  75% {
    top: 110px;
  }
  100% {
    top: 110px;
  }
}

/*stuuff */
.stuff{
  width: 75vw;
  height: auto;
  text-align: justify;
  font-family: "raleway",sans-serif;
  font-weight: 400;
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -7vw;
  letter-spacing:-0.6px;
}

@media(max-width:768px){
.stuff{
  width: 90vw;
  height: auto;
  text-align: justify;
  font-family: "raleway",sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -138px;
}

	
	
}


/* other events */
.otherevents{
	height:auto;
	width:auto;
	margin-top:80px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:90px;
}

.color-list {
  margin-left:100px;
  margin-top:100px;
  margin-right:100px;
  display: flex;
  flex-direction: row;
  height: 40vh;
  
}
/* will stack vertically */
@media(max-width:768px){
.color-list {
  margin-left:40px;
  margin-top:40px;
  margin-right:40px;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

}



.otherbutton{
	height:40px;
	width:150px;
	z-index:500;
	font-family:"Oswald";
	font-weight:700;
	font-size:1em;
	border:none;
	border-radius:5px;
	color:white;
	background-color:#ef4657;
	position:relative;
	margin-top:50px;
}
.otherbutton:hover{
	cursor:pointer;
}

.color {
  display: flex;
  flex-direction: column;
  flex: 1 0 10em;
  box-shadow: 0 0 30px #424242;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  overflow: hidden;
  padding: 1em;
  color: white;
  transition: flex-basis 500ms ease-in-out;
  filter: grayscale(10%);
  

}

.color:hover {
	cursor:pointer;
	filter: grayscale(0%);
    flex-basis: 29em;
}

@media (max-width:768px){
.color:hover {
	cursor:pointer;
	filter: grayscale(0%);
    flex-basis: 10em;
}	



	
	
	
}
.color:hover .details {
  opacity: 1;
}

	
	
}










/* speakers */


/* speakers */
.speakers {
    display: flex;
    width: 70%;
    height: 340px;
	margin-left:15%;
}

.names{
	width:70%;
	height:280px;
	margin:20px;
	margin-bottom:0px;
	border-radius:3px;
	box-shadow: 5px 5px 10px #888888;
	overflow:hidden;
	transition:0.1s linear;


}

.names:hover{
	filter: brightness(0.8);
	transition:0.1s linear;
}

.names:hover .nam{
	opacity:1;
	right:0;
	transition:0.2s cubic-bezier(.22,.8,.52,1);
}


.nam{
	width:79%;
	height:30px;
	background-color:#ef4657;
	position:relative;
	font-family:Raleway;
	font-weight:bold;
	font-size:1.3em;
	color:white;
	top:180px;
	border-top-right-radius: 7.5px;
	border-bottom-right-radius: 7.5px;
	right:200px;
	opacity:0;
	transition:0.2s linear;

}




/* text below speakers pic */
.somethingaboutspeakers{
	display: flex;
    width: 70%;
    height: 100px;
	margin-left:15%;
}

.textsp{
	width:70%;
	height:100px;
	margin:20px;
	margin-top:0px;
	border:2px solid #888888;
	border-radius:5px;
	font-family:Raleway;
	font-size:1em;
	padding:10px;
	overflow:hidden;

}

/* event nights */

.livenight{
	width:auto;
	height:300px;
	margin-left:100px;
	margin-right:100px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	overflow:hidden;

}

.tlt{
	width: auto;
	height:280px;
}


/* sponsors */

.sponsorss{
	overflow:hidden;
	width:90%;
	margin:auto;

}


.sponsorss img{
	width:100%;
	height: inherit;
	display:block;
	margin: inherit;
}


/* sponsors being used rn */
.sponsors{
	overflow:hidden;
	width:60%;
	margin:auto;
}

@media(max-width:768px){
.sponsors{
	overflow:hidden;
	width:95%;
	margin:auto;
}
	
}


.sponsors img{
	width:100%;
	height:auto;
	display:inline;
	margin:auto;
}
/*
.media{
    height:400px;
    float:left;
	overflow:hidden;
	width:45%;
	margin:left;
margin-left: 10px;

}


.media img{
    
    margin-left: 165px;
    float:left;
	width:50%;
	height:auto;
	display:block;
	margin:left;
margin-bottom: 300px;
}
.media2{
    margin-top:12px;
    height:400px;
    float:right;
	overflow:hidden;
	width:45%;
	margin:right;
margin-right: 10px;

}
.cont{
	overflow:hidden;
	width:100%;
	

}

.media2 img{
    margin-bottom: 300px;
    margin-right: 265px;
	float:right;
    width:20%;
	height:auto;
	display:block;
	margin:right;
}

*/








/* color run */

.color-run{
	width: 80%;
	margin: 0 auto;
	background-image:url("color.gif");
	background-size:cover;
	background-position: center center;
	height: 400px;
	box-shadow: 10px 10px 10px #adadad;
	border-radius:10px;
	transition:0.3s linear;
	filter: brightness(100%);
	margin-top:60px;

}

@media(max-width:768px){

.color-run{
	width: 95%;
	margin: 0 auto;
	background-image:url("color.gif");
	background-position: center center;
	height: 20vh;
	box-shadow: 5px 5px 5px #adadad;
	border-radius:8px;
	margin-top:60px;

}

}



.color-run:hover{
	box-shadow: 7px 7px 7px #888888;
	transition:0.3s linear;
	filter: brightness(85%);

}












